<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/Site/Assets/Icons/favicon.ico">
    <!-- Importação de Arquivos de Estilo (CSS) -->
    <link rel="stylesheet" href="../../Assets/Styles/reset.css">
    <link rel="stylesheet" href="../../Assets/Styles/cadastro.css">
    <!-- Importação de Arquivos de Script (JS) -->
    <script defer src="../../Assets/Scripts/cadastro.js"></script>
    <!-- Tela de Login do Painel Administrativo -->
    <title>Criar Conta • Salão de Beleza da Leila</title>
</head>
<body>
    <!-- Cabeçalho da Página -->
    <header>Salão de Beleza da Leila</header>
    <section id="section">
        <!-- Cabeçalho do Modal -->
        <h1>Criar Conta</h1>
        <form>
            <!-- Input: E-mail do Cliente -->
            <label for="input-criar-conta">E-Mail</label>
            <input id="input-criar-conta" type="email" min="1">

            <!-- Input: Nome do Cliente -->
            <label for="input-nome-criar-conta">Primeiro Nome</label>
            <input id="input-nome-criar-conta" min="1">
            
            <!-- Input: Senha -->
            <label for="senha-criar-conta">Senha</label>
            <input id="senha-criar-conta" type="password">
            
            <!-- Input: Confirmação de Senha -->
            <label for="confirmar-senha-criar-conta">Confirmar senha</label>
            <input id="confirmar-senha-criar-conta" type="password">
            
            <!-- Botão de Criar conta -->
            <button type="button" id="botao-criar-modal-criar-conta" disabled>Criar</button>
        </form>
        <h2>Já possui uma conta?
            <span id="ir-para-login">Fazer Login</span>
        </h2>
</section>
</body>
</html>